body {
  font-family: "Lato", sans-serif;
}
.about {
    background-image: url(./asserts/money.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.account{
 
    margin:auto;
    max-width: 100%;
    padding: 30px;
    margin-top:20px; 
    background-color: #00FF00;
    box-shadow: 10px 10px rgb(0, 0, 128);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:  #229954;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

main {
  margin-left: 200px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}
.form{
  width: 100%;
  max-width: 300px;
  display: grid;
  gap:20px;
  padding: 30px;
  background: #229954;
  box-shadow: 10px 10px #d9d9d9;
  color:white ;
}
.input-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input-container div{
  display: flex;
  width: 60%;
  flex-direction: column;
}
.input-container div span{
  text-align: left;
}
.select{
  width: 100%;
  max-width: 180px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(0, 0, 255);
  border-radius: 10px;
}

.footer{
  width: 100%;
  padding: 20px;
  background-color: rgb(0, 0, 128);
  text-align: center;
  color: #fff;
}